* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f1f1f1;
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

#wrap_content {
  width: 90%;
  display: flex;
  margin: 0 auto;
  justify-content: center;
}

#main_content {
  width: 100%;
  min-height: 500px;
  background-color: #EDF2F9;
  padding: 20px;
}