/* html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f1f1f1;
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

#wrap_content {
  width: 90%;
  display: flex;
  margin: 0 auto;
  justify-content: center;
}
  
#main_content { 
  width:100%;
  min-height:500px;
  background-color:#EDF2F9;
  padding: 20px;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* ----------ナビゲーションバー -----------*/
.navbar-nav {
  flex-direction: row!important;
}

.nav-color {
  color: black;
}

.nav-color:hover {
  color: #EE6C4D
}

.nav-color:after {
  content: "";
  display: block;
  height: 2px;
  background: #EE6C4D;
  margin-top: 6px;
  opacity: 0;
  transform: translate(12px);
  transition: all 0.3s ease-in-out;
}

.nav-color:hover:after {
  transform: translateY(0px);
  opacity: 1;
} */
/* -------------------------------------- */

.avatar img {
  max-width: 150px;
  max-height: 150px;
}

/* ---------------マイページ内タブ切り替え---------- */
.mypage_tab_wrap {
  width:100%; margin:80px auto;
}
input[type="radio"]{display:none;}
.mypage_tab_area{font-size:0; margin:0 10px;}
.mypage_tab_area label{width:150px; margin:0 5px; display:inline-block; padding:12px 0; color:#000; background:#ddd; text-align:center; font-size:20px; cursor:pointer; transition:ease 0.2s opacity;}
.mypage_tab_area label:hover{opacity:0.5;}
.mypage_panel_area{background:#fff;}
.tab_panel{width:100%; padding:80px 0; display:none;}
.tab_panel p{font-size:14px; letter-spacing:1px; text-align:left;}

#tab_posts:checked ~ .mypage_tab_area .tab_posts_label{background:#fff; color:#000;}
#tab_posts:checked ~ .mypage_panel_area #panel_posts{display:block;}
#tab_answers:checked ~ .mypage_tab_area .tab_answers_label{background:#fff; color:#000;}
#tab_answers:checked ~ .mypage_panel_area #panel_answers{display:block;}
#tab_niceswings:checked ~ .mypage_tab_area .tab_niceswings_label{background:#fff; color:#000;}
#tab_niceswings:checked ~ .mypage_panel_area #panel_niceswings{display:block;}
/* ------------------------------------------ */

.card-body {
  background-color: #FFFFEE;
}

.footer {
  background-color: #66CC66;
  color: #000;
  text-align: center;  
}