{% load static %}

<div class="navbar navbar-expand-lg">
    <div class="container">
        <a href="/" class="navbar-brand">
            <img src="{% static 'board/img/Icon_GolFriend.svg' %}" alt="" width="80" height="80">
        </a>
        <ul class="navbar-nav">
            <li class="nav-item mr-3">
                <a href="{% url 'index' %}" class="nav-link nav-color">ホーム</a>
            </li>
            <li class="nav-item mr-3">
                <a href="{% url 'about' %}" class="nav-link nav-color">開発メンバー</a>
            </li>
            <li class="nav-item mr-3">
                <a href="{% url 'mypage' %}" class="nav-link nav-color">マイページ</a>
            </li>
            <li class="nav-item mr-3">
                <a href="{% url 'list' %}" class="nav-link nav-color">投稿リスト(Koo作成)</a>
            </li>
            <li class="nav-item mr-3">
                <a href="{% url 'create' %}" class="nav-link nav-color">投稿(Koo作成)</a>
            </li>
            <li class="nav-item mr-3">
                <a href="{% url 'board_list' %}" class="nav-link nav-color">投稿リスト(Tett作成)</a>
            </li>
        </ul>
    </div>
</div>