{% load static %}

<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <!-- Django CSS -->
  <link rel="stylesheet" type="text/css" href="{% static 'board/css/base.css' %}">

  {% block customcss%}{% endblock %}

  <title>{% block title %}{% endblock %}</title>
</head>

<body>
  <header>
    {% block header %}{% endblock %}
  </header>

  {% include "board/layouts/_navbar.html" %}

  <div id="wrap_content">
    <div id="main_content">
      {% block main_content %}{% endblock %}
    </div>
  </div>

  {% include "board/layouts/_footer.html" %}

</body>


</html>