{% extends 'board/base.html' %}
{% load static %}

{% block header %}

{% endblock %}

{% block main_content %}
<div class="container">

    <div>
      <a href="{% url 'create_profile' %}">
        <p>プロフィールを作成する</p>
      </a>
    </div>

    <img src="{{ profile_data.header_image.url }}" width="500" height="500">

    <div class="col-md-4">
        <div class="card text-center px-5 py-4">
            <div class="avatar mb-3">
                <img src="{{ profile_data.thumbnail.url }}" alt="" class="card-img-top rounded-circle">
            </div>
            <h5 class="font-weight-bolder">ニックネーム：{{ profile_data.name }}</h5>
            <p class="mb-3 small text-center">ゴルフレID：{{ profile_data.golfriend_id|linebreaksbr }}</p>
        </div>
    </div>

    <div class="col-md-8">
        <a>自己紹介</a>
        <p>{{ profile_data.introduction|linebreaksbr }}</p>
    </div>

    <hr>

    <div class="mypage_tab_wrap">
        <input id="tab_posts" type="radio" name="tab_btn" checked>
        <input id="tab_answers" type="radio" name="tab_btn">
        <input id="tab_niceswings" type="radio" name="tab_btn">

        <div class="mypage_tab_area">
            <label class="tab_posts_label" for="tab_posts">Posts</label>
            <label class="tab_answers_label" for="tab_answers">Answers</label>
            <label class="tab_niceswings_label" for="tab_niceswings">Nice Swings</label>
        </div>

        <div class="mypage_panel_area">
            <div id="panel_posts" class="tab_panel">
                <div class="my-posts">
                    <ul>
                        {% for board in my_posts %}
                        <div class="card mb-3">
                            <div class="card-body">
                                <h5 class="card-title">
                                    <a href="{% url 'show' board.id %}">
                                        {{ board.title }}
                                    </a>
                                </h5>
                                <p class="card-text">{{ board.body }}</p>
                                <p class="card-text">{{ board.created_at }}</p>
                            </div>
                        </div>    
                        {% empty %}
                            <li>まだ投稿がありません。</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div id="panel_answers" class="tab_panel">
                <div class="my-answers">
                    <ul>
                        {% for my_answer in my_answers %}
                            <li><a href="">{{ my_answer }}</a></li>
                        {% empty %}
                            <p>まだ回答を行っていません。</p>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div id="panel_niceswings" class="tab_panel">
                <div class="my-niceswings">
                    <ul>
                        {% for my_niceswing in my_niceswings %}
                            <li><a href="">{{ my_niceswing }}</a></li>
                        {% empty %}
                            <p>まだナイススイングがありません。</p>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>          
</div>

{% endblock %}

{% comment %} データベースからプロフィール情報抽出のためコメントアウト {% endcomment %}

{% comment %}
<img src="{% static 'board/img/Australlia_Building.jpg' %}" width="1000" height="500">

<div class="avatar mb-3">
    <img src="{% static 'board/img/sanji_irasutoya.png' %}" alt="" class="card-img-top rounded-circle">
</div>

<div>
    <p>ユーザー名：{{request.user}}</p>
    <p>登録日時：</p>
    <p>投稿数：</p>
</div>

{% endblock %}

 {% endcomment %}
