{% extends 'board/base.html' %}
{% load static %}

{% block header %}

{% endblock %}

{% block main_content %}
<div class="container">

    <div>
      <a href="{% url 'create_profile' %}">
        <p>プロフィールを作成する</p>
      </a>
    </div>

    <img src="{{ profile_data.header_image.url }}" width="500" height="500">

    <div class="col-md-4">
        <div class="card text-center px-5 py-4">
            <div class="avatar mb-3">
                <img src="{{ profile_data.thumbnail.url }}" alt="" class="card-img-top rounded-circle">
            </div>
            <h5 class="font-weight-bolder">{{ profile_data.name }}</h5>
            <p class="mb-3 small text-center">{{ profile_data.golfriend_id|linebreaksbr }}</p>
        </div>
    </div>

    <div class="col-md-8">
        <p>{{ profile_data.introduction|linebreaksbr }}</p>
    </div>

    <li><a href="{% url 'mypage'%}">Posts</a></li>
    <li><a href="{% url 'mypage_answers'%}">Answers</a></li>
    <li><a href="{% url 'mypage_niceswings'%}">Nice Swings</a></li>

    <div class="my-posts">
        <h2>Posts</h2>
        <ul>
            {% for board in my_posts %}
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">
                        <a href="{% url 'show' board.id %}">
                            {{ board.title }}
                        </a>
                    </h5>
                    <p class="card-text">{{ board.body }}</p>
                    <p class="card-text">{{ board.created_at }}</p>
                </div>
            </div>    
            {% empty %}
                <li>まだ投稿がありません。</li>
            {% endfor %}
        </ul>
    </div>
</div>

{% endblock %}

{% comment %} データベースからプロフィール情報抽出のためコメントアウト {% endcomment %}

{% comment %}
<img src="{% static 'board/img/Australlia_Building.jpg' %}" width="1000" height="500">

<div class="avatar mb-3">
    <img src="{% static 'board/img/sanji_irasutoya.png' %}" alt="" class="card-img-top rounded-circle">
</div>

<div>
    <p>ユーザー名：{{request.user}}</p>
    <p>登録日時：</p>
    <p>投稿数：</p>
</div>

{% endblock %}

 {% endcomment %}
